/* ================= GALLERY ================= */

.gallery{
background:#fafafa;
padding:80px 0;
}

.gallery-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}

.gallery-item{

overflow:hidden;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.gallery-item img{

width:100%;

height:260px;

object-fit:cover;

transition:.5s;

cursor:pointer;

}

.gallery-item:hover img{

transform:scale(1.12);

}



/* ================= EVENTS ================= */

.events{

padding:90px 0;

background:#fff8ef;

}

.events-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}

.event-card{

display:flex;

align-items:center;

background:white;

border-radius:15px;

padding:25px;

box-shadow:0 8px 20px rgba(0,0,0,.1);

transition:.4s;

}

.event-card:hover{

transform:translateY(-8px);

}

.event-date{

min-width:90px;

height:90px;

background:#8B0000;

color:white;

border-radius:12px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:28px;

font-weight:bold;

margin-right:20px;

}

.event-date span{

font-size:16px;

font-weight:500;

}

.event-content h3{

color:#8B0000;

margin-bottom:10px;

}

.event-content p{

font-size:15px;

line-height:1.6;

}
